<form [formGroup]="videoForm" (ngSubmit)="saveVideo()">
  <mat-card class="video-form">
    <mat-card-header>
      <mat-card-title>Add video</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="form-fields">
        <mat-form-field>
          <input matInput placeholder="Title" formControlName="title"/>
        </mat-form-field>

        <div class="video-length">
          <mat-form-field class="input-length">
            <input type="number" matInput placeholder="minutes" formControlName="minutes"/>
          </mat-form-field>
          <mat-form-field class="input-length">
            <input type="number" matInput placeholder="seconds" formControlName="seconds"/>
          </mat-form-field>
        </div>

        <mat-form-field>
          <textarea matInput placeholder="Description" formControlName="description"></textarea>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button type="submit" color="primary">Add</button>
    </mat-card-actions>
  </mat-card>
</form>
