.mat-form-field {
  width: 300px;
}

.input-length {
  width: 100px;
}

.mat-card-content {
  text-align: center;
}

.form-fields {
  max-width: 450px;
  margin: 0 auto;
}

.video-length {
  display: flex;
  justify-content: space-evenly;
}

.mat-card-actions {
  display: flex;
  flex-direction: row-reverse;
}

.mat-card-header {
  padding: 15px 0;
}

.video-form {
  min-width: 500px;
}